body {
    font-family: Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #f0f0f0;
    margin-bottom: 5px;
    margin: 0;
}
.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 10px;
}
.gallery {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 10px;
    width: 80%;
    box-sizing: border-box;
}
.image-card {
    display: block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.image-card img {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: block;
}
.image-top {
    position: relative;
    height: 40px;
    margin: 10px 0;
}
.image-top a {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none
}
.image-top span {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.image-top span a {
    color: #888;
    text-decoration: none;
    font-size: 1rem;
}
.voting-oval {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
}
.voting-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.vote-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto 15px;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}
.vote-button:hover {
    background-color: #28a745;
}
.score {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    flex-grow: 1;
}
.postername a {
    font-size: 1em;
    font-weight: bold;
    color: #28a745;
    text-decoration: none;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b02525;
    padding: 10px 20px;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
    width: 30%;
    object-fit: contain;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b02525;
    padding: 10px 20px;
}
.navbar .menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}
.navbar .menu form {
    margin-left: 12px;
}
.navbar .menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}
.navbar .menu li a:hover {
    background-color: #720707;
    border-radius: 4px;
}
.sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 20%;
    box-sizing: border-box;
}
.tab-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.tab-buttons button {
    flex: 1 1 auto;
    min-width: 0;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px 4px 0 0;
    background-color: #ddd;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.tab-buttons button.active {
    background-color: #28a745;
    color: white;
}
.form-content {
    display: none;
}
.form-content.active {
    display: block;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-group button:hover {
    background-color: #218838;
}
#pageSelector {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.pagerButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.pagerButton:hover {
    background-color: #218838;
}
.pagerButtonCurrent {
    background-color: #b02525;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.dropdown img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.username {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.upload-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select {
    height: 100px;
    overflow-y: auto;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #218838;
}

* {
    overflow-wrap: break-word;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack gallery and sidebar vertically */
    }
    .sidebar {
        width: 100%; /* Full width for sidebar when stacked */
        max-width: 100%;
    }
    .gallery {
        width: 100%;
        height: auto;
    }
}