{% extends 'base.html' %}

{% block content %}
<div class="upload-container">
    <h2>Jelszó megváltoztatása</h2>
    <form id="passwordChangeForm" onsubmit="return handleFormSubmit(event)" method="POST">
        <div class="form-group">
            <label for="password">Új jelszó:</label>
            <input type="password" id="password" name="title" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="password2">Jelszó megerősítése:</label>
            <input type="password" id="confirmPassword" name="title" placeholder="Password Again" required>
        </div>
        <div class="form-group">
            <button type="submit">Feltöltés</button>
        </div>
    </form>
</div>
<script src="script.js"></script>
<script>
    function handleFormSubmit(event) {
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        if (password != confirmPassword) {
            alert('Passwords do not match');
            return false;
        }

        event.preventDefault();  // Prevent the default form submission
        fetch('/api/change-password', {
            method: 'POST',
            body: JSON.stringify({ password }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            return Promise.reject(response);
        })
        .then(data => {
            alert(data.message)
            window.location.href = '/'; // Redirect on success
        })
        .catch((response) => {
            response.json().then((json) => {
                console.log(json.message);
                alert(json.message);
            })
        });

        return false;  // Ensure the form doesn't try to submit the usual way
    }
</script>
{% endblock %}