<p>Üdv a mémoldalamon!</p>
<p>
    A <a href="https://bmeme.hu">bmeme</a> bezárt, de lesz másik. Folyamatosan fejlesztem az oldalt, de jól jönne kis segítség.
    Ha szeretnél segíteni, ezekre van szükség:
    <ul>
        <li>webgányer</li>
        <li>Python "fejlesztő"</li>
        <li>grafikus</li>
        <li>lobbista</li>
        <li>mecénás</li>
    </ul>
    A forráskódot megtalálod a <a href="https://github.com/tatliHU/memewebsite">githubomon</a>
    Kapcsolat: torok.attila@protonmail.com
</p>
<p><b>U.I:</b> Nyugodtan törjétek fel az oldalt, de légyszi írjatok előtte, hogy készítsek backupot.</p>