{% extends 'base.html' %}

{% block content %}
<div class="upload-container">
    <h2>Töltsd fel a saját mémed</h2>
    <form id="uploadForm" onsubmit="return handleFormSubmit(event)" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">Válassz képet:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="title">Adj címet:</label>
            <input type="text" id="title" name="title" placeholder="Enter image title" required>
        </div>
        <div class="form-group">
            <label for="tags">Adj cimkéket:</label>
            <select id="tags" name="tags[]" multiple required>
                <option value="tag_all">ALL</option>
                <option value="tag_emk">ÉMK</option>
                <option value="tag_gpk">GPK</option>
                <option value="tag_epk">ÉPK</option>
                <option value="tag_vbk">VBK</option>
                <option value="tag_vik">VIK</option>
                <option value="tag_kjk">KJK</option>
                <option value="tag_ttk">TTK</option>
                <option value="tag_gtk">GTK</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Feltöltés</button>
        </div>
    </form>
</div>
<script src="script.js"></script>
<script>
    function handleFormSubmit(event) {
        event.preventDefault();  // Prevent the default form submission

        var form = document.getElementById('uploadForm');
        var formData = new FormData(form);

        fetch('/api/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            return Promise.reject(response);
        })
        .then(data => {
            alert(data.message)
            window.location.href = '/'; // Redirect on success
        })
        .catch((response) => {
            response.json().then((json) => {
                console.log(json.message);
                alert(json.message);
            })
        });

        return false;  // Ensure the form doesn't try to submit the usual way
    }
</script>
{% endblock %}